<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>

  <div id="app">
    {{message}}
    <h1 v-if="seen">조건문</h1>
    <h2 v-bind:title="message">dd</h2>
    <input v-model="message"/>
  </div>
  <script>

    Vue.component('test', {
      props: ['hello'],
      
    })

    var app = new Vue({
      el: '#app',
      data: {
        message: '안녕하세요 Vue!',
        seen: true
      }
    })
  </script>
</body>
</html>